@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --rotate {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-translate-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-opacity {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-blur {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-scale {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --glow-radius {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --white-shadow {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}